@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap");

.headers {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #f26e50;
  font-family: "Fira Mono", monospace;
}
