.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem auto 3.75rem;
  max-width: 65rem;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  li {
    display: inline-block;
    margin-left: 1.6rem;
  }

  li .link {
    color: inherit;
    text-decoration: none;
    margin: 0 auto;
  }
}
