.projectsFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectItemFlex {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 0.5rem 1.3rem 0;

  h2 {
    text-transform: uppercase;
  }
}

.linksFlex {
  display: flex;
  flex-direction: row;

  a {
    margin-right: 1.5rem;
  }
}

@media (max-width: 420px) {
  .projectItemFlex {
    margin-bottom: 2.5rem;
  }
}
